@import "./header_section.css";
@import "./main_section.css";

@font-face {
  font-family: "Manrope";
  src: url("/assets/fonts/manrope/static/Manrope-Regular.ttf");
}

@font-face {
  font-family: "Fraunces";
  src: url("/assets/fonts/fraunces/static/Fraunces_144pt-SemiBold.ttf");
}

:root {
  --deep-purple: hsl(273, 85%, 13%);
  --light-green: hsl(150, 100%, 63%);
  --gray: hsl(271, 12%, 34%);
  --off-white: hsl(276, 100%, 99%);

  --h-font: "Fraunces", serif;
  --hl-size: 80px;
  --hl-spacing: 80px;
  --hm-size: 56px;
  --hm-spacing: 64px;
  --hs-size: 32px;
  --hs-spacing: 40px;

  --p-font: "Manrope", sans-serif;
  --p-size: 18px;
  --p-spacing: 32px;

  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
h3 {
  font-family: "Fraunces", serif;
  margin-block-start: 0;
  margin-block-end: 0;
}

.btn_primary {
  max-width: fit-content;
  padding: 12px 25px;

  text-align: center;
  cursor: pointer;

  background-color: var(--light-green);
  color: var(--deep-purple);

  border: 1px var(--light-green) solid;

  transition: background-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.btn_primary:hover {
  background-color: var(--deep-purple);
  color: var(--light-green);
}

.btn_secondary {
  width: 140px;
  height: 20px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
}

.btn_secondary:hover {
  color: var(--light-green);
}

.btn_secondary:active {
    color: var(--light-green);
  }

.btn_secondary::after {
  content: "";
  position: absolute;
  transform: scaleX(0.1);
  width: 80%;
  height: 2px;
  bottom: 0;
  left: 10%;
  background-color: var(--light-green);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.btn_secondary:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

p {
  font-family: "Manrope", sans-serif;

  line-height: 32px;
  text-align: center;
  color: var(--deep-purple);
}

/* Large Screens */
@media screen and (min-width: 1440px) {
  /* Typography */
  h1 {
    font-size: 80px;
    line-height: 80px;
  }

  h2 {
    font-size: 56px;
    line-height: 64px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  p {
    font-size: 18px;
  }

  .container {
    height: 730px;
    max-height: 730px;
  }
}

/* Medium Screen */
@media screen and (min-width: 375px) and (max-width: 1440px) {
  /* Typography */
  h1 {
    font-size: 60px;
    line-height: 60px;
  }

  h2 {
    font-size: 56px;
    line-height: 64px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .container {
    height: 540px;
    max-height: 540px;
  }
}

@media screen and (max-width: 1440px) {
  p {
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  /* Typography */
  h1 {
    font-size: 50px;
    line-height: 50px;
  }

  h2 {
    font-size: 56px;
    line-height: 64px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }

  .container {
    height: 480px;
    max-height: 480px;
  }
}
