@import "./assets/fonts/manrope/Manrope-VariableFont_wght.ttf";
@import "./assets/fonts/fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf";
:root {
  --deep-purple: hsl(273, 85%, 13%);
  --light-green: hsl(150, 100%, 63%);
  --gray: hsl(271, 12%, 34%);
  --off-white: hsl(276, 100%, 99%);

  --h-font: "Fraunces", serif;
  --hl-size: 80px;
  --hl-spacing: 80px;
  --hm-size: 56px;
  --hm-spacing: 64px;
  --hs-size: 32px;
  --hs-spacing: 40px;

  --p-font: "Manrope", sans-serif;
  --p-size: 18px;
  --p-spacing: 32px;

  font-family: var(--p-font);
  font-size: var(--p-size);
  line-height: var(--p-spacing);
  letter-spacing: -0.18px;
}

p {
  font-family: var(--p-font);
  font-size: var(var(--p-size));
  line-height: var(--p-spacing);
}

.hl {
  font-family: var(--h-font);
  font-size: var(var(--hl-size));
  line-height: var(--hl-spacing);
}

.hm {
  font-family: var(--h-font);
  font-size: var(var(--hm-size));
  line-height: var(--hm-spacing);
}

.hs {
  font-family: var(--h-font);
  font-size: var(var(--hs-size));
  line-height: var(--hs-spacing);
}

.btn_primary {
  width: 140px;
  height: 35px;
  padding: auto;
  text-align: center;
  cursor: pointer;
  background-color: var(--light-green);
  color: var(--deep-purple);
  border: 1px var(--light-green) solid;
  transition: background-color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.btn_primary:hover {
  background-color: var(--deep-purple);
  color: var(--light-green);
}

.btn_secondary {
  width: 140px;
  height: 35px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  text-align: center;
  color: white;
}

.btn_secondary:hover {
  color: var(--light-green);
}

.btn_secondary::after {
  content: "";
  position: absolute;
  transform: scaleX(0.1);
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: var(--light-green);
  transform-origin: bottom left;
  transition: transform 0.25s ease-out;
}

.btn_secondary:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;
}

header {
  position: absolute;
  left: -25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 730px;
  width: 150%;
  background-color: var(--deep-purple);

  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

nav {
  margin: 56px 0;
  width: calc(100vw - 23%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  max-width: 140px;
  width: 140px;
  max-height: 35px;
  height: 35px;
}